<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

<servlet>
	<servlet-name>Register</servlet-name>
	<servlet-class>com.ritik.servlets.Register</servlet-class>
	<init-param>
		<param-name>namee</param-name>
		<param-value>ritikksk</param-value>
	</init-param>
</servlet>
<servlet>
	<servlet-name>Profile</servlet-name>
	<display-name>Profile</display-name>
	<description></description>
	<servlet-class>com.ritik.servlets.Profile</servlet-class>
</servlet>
<servlet>
	<servlet-name>logout</servlet-name>
	<display-name>logout</display-name>
	<description></description>
	<servlet-class>com.ritik.servlets.Logout</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>Register</servlet-name>
	<url-pattern>/Register</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>Profile</servlet-name>
	<url-pattern>/Profile</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>logout</servlet-name>
	<url-pattern>/logout</url-pattern>
</servlet-mapping>


</web-app>
